.note
{
  font-size: 50px;
  color: black;
}

body
{
  background-size: cover;	
}

#BR,#TV,#DESK,#BOT,#PLNT
{
    background-color: white;
    border-radius: 25px;
    font-size: 20px;
    border: 0px;
    width: 230px;
    height: 35px;
}